JuceLibraryCode/
Builds/MacOSX/DerivedData/
Builds/MacOSX/PhaserWah.xcodeproj/project.xcworkspace/
Builds/MacOSX/PhaserWah.xcodeproj/project.xcworkspace/* 
Builds/MacOSX/PhaserWah.xcodeproj/xcuserdata/*
